// Colors
$primary-color: rgb(0, 63, 107);
$second-color: #000;
$third-color: #fff;

$fourth-color: rgb(3, 80, 104);
$wrapper-background: grey;
$body-background: lightgrey;
$wrapper-size: 980px;
$nav-height: 65px;
$content-font: Arial, Helvetica Neue, Helvetica, sans-serif;
$title-font: "Roboto", sans-serif;

// Borders
$white-border: 1px solid white;
$black-border: 1px solid black;
$grey-border: 1px solid grey;
$box-radius: 5px;

// Device view
$tablet-large: 900px;
$tablet: 800px;
$phone-large: 680px;
$phone: 600px;
$phone-small: 400px;
