// Colors
$primary-color: rgb(0, 63, 107);
$second-color: #000;
$third-color: #fff;

// Borders
$white-border: 1px solid white;
$black-border: 1px solid black;
$box-radius: 5px;

// Device view
$tablet-large: 900px;
$tablet: 800px;
$phone-large: 680px;
$phone: 600px;
$phone-small: 400px;
