// Import partials
@import "variables";
@import "mixins";

main {
  background-color: grey;
  font-family: $content-font;
}

.contact-section {
  padding: 100px 0;
}

.form-container {
  max-width: 700px;
  min-width: 324px;
  margin: 0 auto;
  background-color: $third-color;
  border: $grey-border;
}
.row-header {
  width: 100%;
  height: 250px;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
  padding: 1.5em 2.5em;
  border-bottom: $grey-border;
  background: url("../images/bcit_980.jpg");
  color: $third-color;
}
.row-body {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
  padding: 0.5em 2.5em 1em;
}
.pull-right {
  float: right;
}
h1 {
  display: inline-block;
  font-weight: 100;
  border-bottom: 1px solid hsla(100%, 100%, 100%, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
  font-family:$title-font;
}
h3 {
  margin: 1em 0 0.4em 0;
}
.btn {
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: $third-color;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: $primary-color;
}
.btn:hover {
  background-color: rgb(4, 118, 199);
}

form {
  max-width: 100%;
  display: block;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 0.25em 0;
      clear: both;
      display: inline-block;
      width: 100%;
      &:last-child {
        margin: 0;
      }
      p {
        margin: 0;
        padding: 0;
        float: left;
        &.right {
          float: right;
        }
      }
      .divider {
        margin: 0.5em 0 0.5em 0;
        border: 0;
        height: 1px;
        width: 100%;
        display: block;
        background-color: $primary-color;
      }
      .req {
        color: $primary-color;
      }
    }
    #student-number {
      display: none;
    }
  }
  label {
    display: block;
    margin: 0 0 0.5em 0;
    color: $primary-color;
  }
  input {
    margin: 0 0 0.5em 0;
    border: $grey-border;
    padding: 6px 10px;
    color: $second-color;
  }
  textarea {
    border: $grey-border;
    padding: 6px 10px;
    width: 100%;
    color: $second-color;
  }
  small {
    color: $primary-color;
    margin: 0 0 0 0.5em;
  }
  .radio {
    color: $second-color;
    padding-top: 10px;
    line-height: 1.4;
    padding-right: 24px;
  }
}

// Media Queries

@media only screen and (max-width: 480px) {
  .pull-right {
    float: none;
  }
  input {
    width: 100%;
  }
  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }
  .form-li,
  p {
    width: 100%;
    padding: 10px 0;
  }
  input.btn {
    margin: 1.5em 0 0.5em;
  }
  li small {
    display: none;
  }

  .p-email {
    margin-bottom: 20px;
  }
  .radio input {
    width: auto;
  }
}
