// Import partials
@import "variables";
@import "mixins";

.container {
  max-width: 980px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: auto;
}

// Section 1
.section-01 {
  height: 400px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/calendar.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $phone) {
    height: 320px;
  }

  @media (max-width: $phone-small) {
    height: 250px;
    background-image: none;
    background-color: #fff;
  }

  .heading {
    padding-top: 70px;
    text-align: center;
    font-size: 3.5em;
    color: $primary-color;
    text-transform: uppercase;

    @media (max-width: $phone) {
      font-size: 3em;
    }

    @media (max-width: $phone-small) {
      font-size: 2em;
    }

    h1 {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

// Section 2
.section-02 {
  padding: 50px 10px;
  margin: 0;
  background-color: $primary-color;
  color: $second-color;

  @media (max-width: $tablet-large) {
    padding: 50px 0;
  }

  @media (max-width: $phone) {
    padding: 0;
  }

  li {
    line-height: 2em;
  }

  .schedule-grid {
    display: grid;
    grid-gap: 30px;
    padding: 0 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    @media (max-width: $tablet-large) {
      grid-gap: 25px;
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }

    @media (max-width: $phone-large) {
      padding: 0 20px;
    }

    @media (max-width: $phone) {
      @include no-space;
      @include flex-column;
    }
  }

  .box {
    position: relative;
    border: $black-border;
    border-radius: $box-radius;
    background-color: lightgrey;
    transition: all 0.3s;
    cursor: pointer;

    @media (max-width: $phone) {
      border-bottom: $white-border;
      border-radius: 0;
      background-color: $primary-color;
      color: $third-color;
    }

    span h2 {
      text-align: center;
    }

    .course-content {
      padding: 0 5px;

      @media (max-width: $phone) {
        padding-left: 30px;
      }

      @media (max-width: $phone-small) {
        padding-left: 15px;
      }
    }
  }

  .box:hover {
    transform: scale(1.1);
    background-color: $primary-color;
    border: $white-border;
    color: $third-color;

    @media (max-width: $tablet-large) {
      transform: scale(1.03);
    }

    @media (max-width: $phone) {
      transform: none;
      background-color: lightgrey;
      color: $primary-color;
      border: $white-border;
    }
  }
}
