html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    margin:0;
    padding:0;
    background-color: lightgrey;
    min-width:320px;     
    width: auto !important;
}

.wrapper{
    max-width: 980px;
    margin: 0 auto;
    background: gray url('../images/bcit_980.jpg');
    background-repeat: no-repeat;
    height: 1500px;
}

header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(39, 39, 80, 0.3);
}

.title{
    height: 65px;
    width:170px;

}

.BCIT{
    display: block;
    width:170px;
    height: 143px;
    background-color: rgb(0, 63, 107);
    margin: auto;
    padding-top:43px;
    text-align: center;
    font-size: 2em;
    margin-left: 40px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    font-family: Arial;
    color: white;
    font-size: 3.5em;
}
.link{
    /*display: block;*/
    display: none;
    width: 270px;
    margin:auto;
    margin-left: 10px;
    color: black;
    font-size:1.1em;
    font-weight: bold;
}
.link a{
    text-decoration: none;
    color: darkblue;
}

.hamburger{
    display: none;
}

nav{
    height: 65px;
    width: 425px;
    padding-right: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li{
    flex:1;
    display: block;
    margin-left:13px;
    margin-right:13px;
    padding-left: 2px;
    padding-right: 2px;
}

nav li:hover{
    border-bottom: 2px solid rgb(73, 26, 26);
}

nav a {
    text-transform: uppercase;
    display: block;
    line-height: 65px;
    font-family: Arial;
    color: rgb(223, 215, 215);
    text-decoration: none;
    font-size:1.1em;
    font-weight: 200;
}

main {
    position: relative;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 430px 1fr 345px .6fr;
    grid-template-rows: 330px 200px 200px;;
    padding-top: 500px;
    grid-gap: 10px;
}

.overview {
    grid-row: 1 / span 2;
    grid-column:2;
    align-self: end ;
    height: 330px;
    width: 430px;
    background-color: rgb(0, 63, 107);
    padding: 30px;
}

.overview h1{
    text-transform: uppercase;
    font-size: 3.5em;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial;
    padding-bottom:30px;
    border-bottom: 2px solid rgb(226, 84, 18);
    width: 300px;
}

.overview p {
    padding-top: 20px;
    color: white;
    font-family: Arial;
    line-height: 1.5
}

.about1{
    grid-row:1;
    grid-column: 4;
    height: 330px;
    width:345px;
    background-color: rgb(73, 26, 26);
    padding: 30px;
}

.about1 h1 {
    text-transform: uppercase;
    font-size: 2.7em;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial;
    padding-bottom:10px;
    padding-top: 10px;
    border-bottom: 2px solid rgb(226, 84, 18);
    border-top:2px solid rgb(226, 84, 18);
    width: 200px;
}

.about1 p{
    padding-top:2px;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: arial;
}

.goals {
    grid-row: 2 span 2;
    grid-column: 4;
    padding: 25px;
    height: 490px;
    width: 345px;
    background-color: rgb(3, 80, 134);
    padding-top:0;
}

.goals h2{
    text-transform: uppercase;
    font-size: 1.6em;
    width: 300px;
    border-bottom: 2px solid rgb(226, 84, 18);
    color: white;
    padding-top:0;
}

.goals ul {
    margin:0;
    padding:0;
    color: white;
    font-family: Arial;
    font-size: 0.8em;
}
#firsth2{
    width: 205px;
}

.apply {
    position: absolute;
    left: 50px;
    top: 1020px;
    height: 180px;
    width: 180px;
    background-color: blue;
}

.learn {
    position: absolute;
    left: 300px;
    top: 1020px;
    height: 180px;
    width: 180px;
    background-color: blue;
}

@media only screen and (max-width: 785px){

    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-icon {
        color: white;
        line-height: 1;
        font-size: 1.9em;
    }

    .hamburger:focus,
    .hamburger-icon:focus {
        outline: none;
    }
    
    .hamburger:focus .hamburger-icon {
        outline: 5px solid #69c1db;
    }

    .hamburger-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    } 
    /*all hamburger code from day 7 sitecomplete 12-grid-portfolio-asspect-ratio*/
    

    header {
        flex-wrap: wrap;
        align-items: center;
    }

    nav {
        height: 0;
        overflow: hidden;
        width: 100%;
        background-color: rgba(39, 39, 80, 0.3);
    }

    nav ul {
        display: block;
        width:985px;
        background-color: rgba(39, 39, 80, 0.3)
    }

    nav li {
        margin-left:0;
        padding-left:0;

    }

    nav a:hover {
        color:rgb(73, 26, 26);
    }

    nav a {
        line-height: 40px;
        border-bottom: 1px solid #afafaf;
        border-top: 1px solid #afafaf;
        padding-left:10px;
    }

    nav li:hover {
        border-bottom: none;
    }

    .show nav {
        height: 170px;
    }

    .show .BCIT {
        padding-top:0;
        padding-bottom:0;
        height: 60px;
    }

    .BCIT {
        z-index: 9999;
    }
}

@media only screen and (max-width: 400px){

        .BCIT{
            width:170px;
            margin-left: 20px;
        }
        .link{
            width:192px;
        }
    
        .title{
            width: 270px;
        }

        nav a {
            padding-left:0;
        }

}
