html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  img {
    max-width: 100%;
    height: auto;
}

body{
    margin:0;
    padding:0;
    background-color: lightgrey;
    min-width:320px;     
    width: auto !important;
}

.wrapper{
    max-width: 980px;
    margin: 0 auto;
    background: gray url('../images/bcit_980.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
}

header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(39, 39, 80, 0.3);
}

.title{
    height: 65px;
    width:170px;

}

.BCIT{
    display: block;
    width: 200px;
    height: 143px;
    background-color: rgb(0, 63, 107);
    margin: auto;
    padding-top:10px;
    text-align: center;
    margin-left: 40px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    font-family: Arial;
    color: white;
    font-size: 3.5em;
}


.hamburger{
    display: none;
}

nav{
    height: 65px;
    width: 425px;
    margin-right:15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li{
    flex:1;
    display: block;
    margin-left:13px;
    margin-right:13px;
    padding-left: 2px;
    padding-right: 2px;
}

nav li:hover{
    border-bottom: 2px solid rgb(73, 26, 26);
}

nav a {
    text-transform: uppercase;
    display: block;
    line-height: 65px;
    font-family: Arial;
    color: rgb(223, 215, 215);
    text-decoration: none;
    font-size:1.1em;
    font-weight: 200;
}


.main-grid{
    display: grid;
    grid-template-columns: 1fr minmax(380px,45%) 1fr minmax(220px,40%) .6fr;
    grid-template-rows:  auto auto auto auto;
    padding-top: calc(100% / 2.5);
    grid-gap: 10px; 
    padding-bottom: 25px;
}

.overview {
    grid-row: 2 / span 2;
    grid-column:2;
    background-color: rgb(0, 63, 107);
    padding: 30px;
}

.overview h1{
    text-transform: uppercase;
    font-size: 3.5em;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial;
    padding-bottom:30px;
    border-bottom: 2px solid rgb(226, 84, 18);
    width: 300px;
}

.overview p {
    padding-top: 20px;
    color: white;
    font-family: Arial;
    line-height: 1.5;
    padding-bottom: 20px
}

.about1{
    grid-row:1 /span 2;
    grid-column: 4;
    background-color: rgb(73, 26, 26);
    padding: 30px;
}

.about1 h1 {
    text-transform: uppercase;
    font-size: 2.7em;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial;
    padding-bottom:10px;
    padding-top: 10px;
    border-bottom: 2px solid rgb(226, 84, 18);
    border-top:2px solid rgb(226, 84, 18);
    /*width: 200px;*/
}

.about1 p{
    padding-top:2px;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: Arial;
}

.goals {
    grid-row: 3 / span 2;
    grid-column: 4;
    padding: 25px;

    background-color: rgb(3, 80, 134);
    padding-top:0;
}

.goals h2{
    text-transform: uppercase;
    font-size: 1.6em;
    border-bottom: 2px solid rgb(226, 84, 18);
    color: white;
    padding-top:0;
    font-family: Arial;
}

.goals ul {
    margin:0;
    padding:0;
    padding-left:10px;
    color: white;
    font-family: Arial;
    font-size: 0.8em;
}


.applea{
    grid-row:4;
    grid-column: 2;
    align-items: top;
    display: flex;
    justify-content:space-between;
    color: white;
    height: 100%;
}

.apply {
    text-transform: uppercase;
    width:47%;
    height: 100%;
    background-color: rgb(3, 80, 134);
    position: relative;
}

.apply h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: Arial;
    font-size: 2em;
}

.learn {
    text-transform: uppercase;
    width:180px;
    height: 180px;
    background-color: rgb(3, 80, 134);
    position: relative;
}

.learn h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
    font-size: 2em;
}


footer {
    background-color: rgb(1, 41, 69);
    padding: 15px 50px;
    font-size: 0.9em;
  }
   footer p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
   footer a {
    text-decoration: none;
  }
   .logo-div {
    height: 65px;
    width: 180px;
    bottom: 0;
  }
   /* BCIT Footer logo */
  #logo-footer {
    width: 100px;
    padding-top: 15px;
  }
   .row {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 1fr;
  }
   .row .second {
    line-height: 10px;
    padding: 0;
    margin: 0;
  }
   .row .third {
    padding-top: 40px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
   .row .third i {
    font-size: 3em;
  }



@media only screen and (max-width: 785px){

    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-icon {
        color: white;
        line-height: 1;
        font-size: 1.9em;
    }

    .hamburger:focus,
    .hamburger-icon:focus {
        outline: none;
    }
    
    .hamburger:focus .hamburger-icon {
        outline: 5px solid #69c1db;
    }

    .hamburger-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    } 
    /*all hamburger code from day 7 sitecomplete 12-grid-portfolio-asspect-ratio*/
    

    header {
        flex-wrap: wrap;
        align-items: center;
    }

    nav {
        height: 0;
        overflow: hidden;
        width: 100%;
        background-color: rgba(39, 39, 80, 0.3);
    }

    nav ul {
        display: block;
        background-color: rgba(39, 39, 80, 0.3)
    }

    nav li {
        margin-left:0;
        padding-left:10px;
        border-bottom: 1px solid #afafaf;
        border-top: 1px solid #afafaf;

    }

    nav a:hover {
        color:rgb(73, 26, 26);
    }

    nav a {
        line-height: 40px;
        
        padding-left:10px;
    }

    nav li:hover {
        border-bottom: none;
    }

    .show nav {
        height: 170px;
        margin-right:0;
    }

    .show .BCIT {
        padding-top:6px;
        padding-bottom:0;
        height: 65px;
        width: 250px;
        font-size: 2.5em;
    }

    .show .wrapper {
        background-position-y: 14.5rem;
    }

    .show main {
        padding-top: calc(100% /3);
    }

    .BCIT {
        z-index: 9999;
    }
}

@media only screen and (max-width: 655px){

    .main-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        padding-top: calc(100% / 1.75);
    }

    .overview {
        grid-row: 1;
        grid-column: 1;
    }
    .overview h1{
        font-size: 2.5em;
        width: 100px;
    }

    .about1 {
        grid-row: 2;
        grid-column:1;
    }

    .goals {
        grid-row: 3;
        grid-column: 1
    }

    .learn {
        height: 158px;
        width: 158px;
    }

    .apply {
        height: 158px;
        width: 158px;
    }

    .applea {
        grid-row: 4;
        grid-column: 1;
    }

}

@media only screen and (max-width: 630px) {
    .title {
      left: 15px;
    }
  
    footer {
      padding: 20px 30px;
    }
  
    .row {
      grid-template-columns: 30% 70%;
      grid-template-rows: 1fr;
    }
  
    .row .first {
      padding-top: 30px;
    }
  
    .row .third {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: span 3;
      flex-direction: row;
      padding: 0;
    }
  
    .row .third p {
      padding: 0;
      line-height: 40px;
    }
  }

  @media only screen and (max-width: 480px){

    .row {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
      }

      .row .first {
          grid-row:1;
          grid-column:1;
        padding-top: 30px;
      }

      .row .second {
          grid-row: 2;
          grid-column:1;
      }

      .row .third {
          grid-row:3;
          grid-column:1;
      }

  }

@media only screen and (max-width: 400px){

        .BCIT{
            width:170px;
            margin-left: 5px;
        }

        header{
            width: 100%;
        }
    
        .title{
            width: 270px;
        }

        nav {
            margin-right:0;
        }

        nav a {
            padding-left:0;
        }

}
