body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  min-width: 320px;
  width: auto !important;
}

a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: white;
}

a,
i {
  color: #fff;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
  height: auto;
}

.wrapper > img {
  position: absolute;
  z-index: -1;
  max-width: 980px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(39, 39, 80, 0.8);
}

.title {
  position: relative;
  height: 65px;
  width: 180px;
  top: 10px;
  left: 40px;
}

/* BCIT header logo */
.bcit-logo {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 0;
  border: 2px solid white;
}

.link {
  /*display: block;*/
  display: none;
  width: 270px;
  margin: auto;
  margin-left: 10px;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}
.link a {
  text-decoration: none;
  color: darkblue;
}

.hamburger {
  display: none;
}

nav {
  height: 65px;
  width: 425px;
  padding-right: 15px;
  z-index: 2;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  display: block;
  margin-left: 13px;
  margin-right: 13px;
  padding-left: 2px;
  padding-right: 2px;
}

nav li:hover {
  border-bottom: 2px solid rgb(73, 26, 26);
}

nav a {
  text-transform: uppercase;
  display: block;
  line-height: 65px;
  font-family: Arial;
  color: rgb(223, 215, 215);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 200;
}

/* Main */
main {
  height: 550px;
  position: relative;
}

/* Footer */
footer {
  background-color: rgb(1, 41, 69);
  padding: 15px 50px;
  font-size: 0.9em;
}

footer p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

footer a {
  text-decoration: none;
}

.logo-div {
  height: 65px;
  width: 180px;
  bottom: 0;
}

/* BCIT Footer logo */
#logo-footer {
  width: 100px;
  padding-top: 15px;
}

.row {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 1fr;
}

.row .second {
  line-height: 10px;
  padding: 0;
  margin: 0;
}

.row .third {
  padding-top: 40px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.row .third i {
  font-size: 3em;
}

@media only screen and (max-width: 785px) {
  /* BCIT header logo */
  .bcit-logo {
    height: 100px;
    width: 100px;
  }

  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .hamburger-icon {
    color: white;
    line-height: 1;
    font-size: 1.9em;
  }

  .hamburger:focus,
  .hamburger-icon:focus {
    outline: none;
  }

  .hamburger:focus .hamburger-icon {
    outline: 5px solid #69c1db;
  }

  .hamburger-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  /*all hamburger code from day 7 sitecomplete 12-grid-portfolio-asspect-ratio*/

  header {
    flex-wrap: wrap;
    align-items: center;
  }

  nav {
    position: absolute;
    right: -20px;
    top: 65px;
    height: 90%;
    width: 0;
    animation: slideOutRight 0.5s ease both;
  }

  @keyframes slideOutRight {
    from {
      width: 200px;
    }
    to {
      width: 0;
    }
  }

  nav ul {
    display: block;
    width: 985px;
    height: 100%;
    background-color: rgba(39, 39, 80, 0.8);
  }

  nav li {
    margin: 0;
    padding-left: 50px;
    border-bottom: 1px solid #afafaf;
    border-top: 1px solid #afafaf;
  }

  nav a:hover {
    color: rgb(0, 0, 255);
  }

  nav a {
    line-height: 90px;
    font-size: 1em;
  }

  nav li:hover {
    border-bottom: none;
    background-color: #fff;
  }

  .show nav {
    height: 90%;
    animation: slideInRight 0.5s ease both;
  }

  @keyframes slideInRight {
    from {
      width: 0;
    }
    to {
      width: 200px;
    }
  }

  .show ul {
    height: 100%;
  }

  footer {
    padding: 15px 25px;
  }

  .row {
    grid-template-columns: 23% 45% 33%;
  }

  .row p {
    font-size: 0.9em;
  }

  .row .third i {
    font-size: 2em;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    left: 15px;
  }

  footer {
    padding: 20px 30px;
  }

  .row {
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
  }

  .row .first {
    padding-top: 30px;
  }

  .row .third {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 3;
    flex-direction: row;
    padding: 0;
  }

  .row .third p {
    padding: 0;
    line-height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    left: 0;
    top: 0;
  }

  .bcit-logo {
    height: 65px;
    width: 65px;
    border: 1px solid white;
  }

  footer {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 400px) {
  .link {
    width: 192px;
  }

  .title {
    width: 270px;
  }

  nav a {
    padding-left: 0;
  }

  footer {
    padding: 20px;
  }

  .row {
    grid-template-columns: 23% 85%;
  }

  .row .third i {
    font-size: 1.4em;
  }
}
